body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  line-height: 2;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;

}
h3{

  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}

/* .h1p{
  font-size: 2.5rem;
} */

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding: 100px;
}
.middle-container{

}

.bottom-container{
  color: #11999E;

}

.top-cloud{
  position: absolute;
  right:500px;
  top:50px;

}

.bottom-cloud{
  position: absolute;
  left:500px;
  bottom:400px;
}
